.container {
    padding: 20px;
    background-image: url('./wlcmimg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    align-items: center;
}

.topbar {
    font-size: 18px;
    display: grid;
    height: 50px;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: 800px) {
        font-size: 14px;
    }

    @media screen and (max-width: 500px) {
        font-size: 12px;
    }
}

.logintext {
    padding-top: 4px;
    right: 20%;
    margin-right: 5px;
    position: absolute;
    color: white;
    position: absolute;
    cursor: pointer;
}
.logintext:hover{
    color: #7DADFE;}
.Button {
    padding: 4px;
    border: none;
    outline: none;
    border-radius: 15px;
    color: white;
    right: 4%;
    position: absolute;
    background-color: #FFAA8B;
    cursor: pointer;
}
.Button:hover{
    background-color: #7DADFE;}

.description {
    padding-top: 20px;
    margin-left: 4%;
    margin-right: 4%;
    max-width: 600px;
    color: white;
    min-width: 100px;
    font-size: 24px;

    @media screen and (max-width: 800px) {
        font-size: 18px;
    }

    @media screen and (max-width: 500px) {
        font-size: 16px;
    }
}

/*.title {
    margin-top: 15px;
    margin-left: 4%;
    color: rgb(31, 42, 62);
    font-size: 24px;
  
    @media screen and (max-width: 800px) {
      font-size: 20px;
    }
  
    @media screen and (max-width: 500px) {
      font-size: 16px;
    }
  }*/

.title {
    margin-top: 10px;
    margin-left: 4%;
    color: white;
    font-size: 32px;

    @media screen and (max-width: 800px) {
        font-size: 20px;
    }

    @media screen and (max-width: 500px) {
        font-size: 16px;
    }
}